1. 讀入資料，並檢查資料型態，及檢查是否有遺漏值。發現共有12個變數，891個觀測值，但Age, Cabin,及Embarked有遺漏值。

In [2]:
import pandas as pd
url = "https://storage.googleapis.com/py_ds_basic/kaggle_titanic_train.csv"
titanic_train = pd.read_csv(url)

print(titanic_train.dtypes)
print("---")
print(titanic_train.shape)
print("---")
print(titanic_train.isnull().sum())

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object
---
(891, 12)
---
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

2. 了解各變數意義後, 檢查數值型變數間的相關性, 選擇與Survived相關性變數較高者做為預測變數, 如Pclass, Age, Parch, Fare.

In [3]:
titanic_train.corr()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
PassengerId,1.000000,-0.005007,-0.035144,0.036847,-0.057527,-0.001652,0.012658
Survived,-0.005007,1.000000,-0.338481,-0.077221,-0.035322,0.081629,0.257307
Pclass,-0.035144,-0.338481,1.000000,-0.369226,0.083081,0.018443,-0.549500
Age,0.036847,-0.077221,-0.369226,1.000000,-0.308247,-0.189119,0.096067
SibSp,-0.057527,-0.035322,0.083081,-0.308247,1.000000,0.414838,0.159651
Parch,-0.001652,0.081629,0.018443,-0.189119,0.414838,1.000000,0.216225
Fare,0.012658,0.257307,-0.549500,0.096067,0.159651,0.216225,1.000000

3. 用平均數填補Age的遺漏值。

In [4]:
import numpy as np
age_mean = np.nanmean(titanic_train.Age)
new_Age = np.where(titanic_train.Age.isnull(), age_mean, titanic_train.Age)
titanic_train.Age = new_Age
print(titanic_train.describe())

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   13.002015    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   22.000000    0.000000
50%     446.000000    0.000000    3.000000   29.699118    0.000000
75%     668.500000    1.000000    3.000000   35.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

4. 用目前的資料建立決策樹分類器，並將Sex變為dummy variable以做為預測變數之一，且將拆分現有資料訓練此分類器及測試評估準確度。測試結果顯示預估準確度約有76%。

In [5]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
encoded_Sex = label_encoder.fit_transform(titanic_train.Sex)

In [6]:
titanic_X = pd.DataFrame([titanic_train.Pclass,
                          encoded_Sex,
                          new_Age, 
                          titanic_train.Parch,
                          titanic_train.Fare
]).T

titanic_y = titanic_train.Survived
print(titanic_X.shape)
print(titanic_y.shape)

(891, 5)
(891,)

In [8]:
from sklearn.cross_validation import train_test_split
train_X, test_X, train_y, test_y = train_test_split(titanic_X, titanic_y, test_size = 0.3)

In [9]:
from sklearn import metrics, tree
decison_clf = tree.DecisionTreeClassifier(random_state = 71)
decison_clf.fit(train_X, train_y)
test_y_predicted = decison_clf.predict(test_X)
accuracy = metrics.accuracy_score(test_y, test_y_predicted)
print(accuracy)

0.761194029851

5. 正式應用在沒有答案的資料，並先檢查資料，發現共有11個變數，418個觀測值，其中預測變數中Age和Fare有遺漏值，故填補後進行預測。

In [10]:
url = "https://storage.googleapis.com/py_ds_basic/kaggle_titanic_test.csv"
titanic_submit = pd.read_csv(url)
print(titanic_submit.dtypes)
print("---")
print(titanic_submit.shape)
print("---")
print(titanic_submit.isnull().sum())

PassengerId      int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object
---
(418, 11)
---
PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [11]:
age_mean_submit = np.nanmean(titanic_submit.Age)
new_Age_submit = np.where(titanic_submit.Age.isnull(), age_mean_submit, titanic_submit.Age)
titanic_submit.Age = new_Age_submit
fare_mean_submit = np.nanmean(titanic_submit.Fare)
new_Fare_submit = np.where(titanic_submit.Fare.isnull(), fare_mean_submit, titanic_submit.Fare)
titanic_submit.Fare = new_Fare_submit
print(titanic_submit.describe())

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  418.000000  418.000000  418.000000  418.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   12.634534    0.896760    0.981429   55.840500
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   23.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   30.272590    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   35.750000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [12]:
encoded_Sex_submit = label_encoder.fit_transform(titanic_submit.Sex)

In [13]:
titanic_submit_X = pd.DataFrame([titanic_submit.Pclass,
                          encoded_Sex_submit,
                          new_Age_submit, 
                          titanic_submit.Parch,
                          new_Fare_submit
]).T
titanic_submit_y = decison_clf.predict(titanic_submit_X)
print(titanic_submit_y[0:5])

[0 0 1 1 0]

6. 將結果輸出成csv後，上傳kaggle，得到目前最佳預估正確率約75.12%。

In [14]:
titanic_submit_dict = {
    "PassengerId": titanic_submit["PassengerId"],
    "Survived": titanic_submit_y
}
titanic_submit_df = pd.DataFrame(titanic_submit_dict)
titanic_submit_df.to_csv("titanic_submit.csv", index = False)

![submission](https://raw.githubusercontent.com/shenkunhung/python_hw03/0d995af6e746df8bceb3a8fd2e4d0ad3b642de26/kaggle.PNG)